@import 'tailwindcss';
@source '../node_modules/@axonivy/webservice-editor/src';
@import '@axonivy/ui-components/src/styles/themes.css';

@import '@axonivy/ui-icons/src-gen/ivy-icons.css' layer(base);
@import '@axonivy/ui-components/lib/components.css';

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}
