.webservice-editor-main-content {
  height: 100%;
  overflow: auto;
  .webservice-editor-table-field {
    min-height: 0;
    margin: var(--size-3);
  }
  .ui-table-cell:has(.ui-badge) {
    padding: var(--size-1);
  }
  .webservice-editor-table-container {
    overflow-x: hidden;
  }
}
